<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.carbon.scm.mapper.ScmPurchasePlanMapper">
    
    <resultMap type="ScmPurchasePlan" id="ScmPurchasePlanResult">
        <result property="id"    column="id"    />
        <result property="purchasePlanNo"    column="purchase_plan_no"    />
        <result property="applyUser"    column="apply_user"    />
        <result property="applyTime"    column="apply_time"    />
        <result property="applyStatus"    column="apply_status"    />
        <result property="auditUser"    column="audit_user"    />
        <result property="auditTime"    column="audit_time"    />
        <result property="auditStatus"    column="audit_status"    />
        <result property="auditComment"    column="audit_comment"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectScmPurchasePlanVo">
        select id, purchase_plan_no, apply_user, apply_time, apply_status, audit_user, audit_time, audit_status, audit_comment, remark from scm_purchase_plan
    </sql>

    <select id="selectScmPurchasePlanList" parameterType="ScmPurchasePlan" resultMap="ScmPurchasePlanResult">
        <include refid="selectScmPurchasePlanVo"/>
        <where>  
            <if test="applyUser != null  and applyUser != ''"> and apply_user like concat('%', #{applyUser}, '%')</if>
            <if test="applyStatus != null  and applyStatus != ''"> and apply_status = #{applyStatus}</if>
            <if test="auditStatus != null  and auditStatus != ''"> and audit_status = #{auditStatus}</if>
            <if test="auditComment != null  and auditComment != ''"> and audit_comment = #{auditComment}</if>
        </where>
    </select>
    
    <select id="selectScmPurchasePlanById" parameterType="Long" resultMap="ScmPurchasePlanResult">
        <include refid="selectScmPurchasePlanVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertScmPurchasePlan" parameterType="ScmPurchasePlan" useGeneratedKeys="true" keyProperty="id">
        insert into scm_purchase_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="purchasePlanNo != null">purchase_plan_no,</if>
            <if test="applyUser != null">apply_user,</if>
            <if test="applyTime != null">apply_time,</if>
            <if test="applyStatus != null">apply_status,</if>
            <if test="auditUser != null">audit_user,</if>
            <if test="auditTime != null">audit_time,</if>
            <if test="auditStatus != null">audit_status,</if>
            <if test="auditComment != null">audit_comment,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="purchasePlanNo != null">#{purchasePlanNo},</if>
            <if test="applyUser != null">#{applyUser},</if>
            <if test="applyTime != null">#{applyTime},</if>
            <if test="applyStatus != null">#{applyStatus},</if>
            <if test="auditUser != null">#{auditUser},</if>
            <if test="auditTime != null">#{auditTime},</if>
            <if test="auditStatus != null">#{auditStatus},</if>
            <if test="auditComment != null">#{auditComment},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateScmPurchasePlan" parameterType="ScmPurchasePlan">
        update scm_purchase_plan
        <trim prefix="SET" suffixOverrides=",">
            <if test="purchasePlanNo != null">purchase_plan_no = #{purchasePlanNo},</if>
            <if test="applyUser != null">apply_user = #{applyUser},</if>
            <if test="applyTime != null">apply_time = #{applyTime},</if>
            <if test="applyStatus != null">apply_status = #{applyStatus},</if>
            <if test="auditUser != null">audit_user = #{auditUser},</if>
            <if test="auditTime != null">audit_time = #{auditTime},</if>
            <if test="auditStatus != null">audit_status = #{auditStatus},</if>
            <if test="auditComment != null">audit_comment = #{auditComment},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteScmPurchasePlanById" parameterType="Long">
        delete from scm_purchase_plan where id = #{id}
    </delete>

    <delete id="deleteScmPurchasePlanByIds" parameterType="String">
        delete from scm_purchase_plan where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>